/NoahNPCGen/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/*.dll
/NoahNPCGen/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/*.dll
*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/*.exe
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/win/lib/netstandard2.0/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/win-arm64/native/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/win-x64/native/*.dll
/NoahNPCGen/bin/Release/netcoreapp3.1/runtimes/win-x86/native/*.dll
/NoahNPCGen/obj/Debug/netcoreapp3.1/*.exe
/NoahNPCGen/obj/Debug/netcoreapp3.1/*.dll
/NoahNPCGen/obj/Release/netcoreapp3.1/*.exe
/NoahNPCGen/obj/Release/netcoreapp3.1/*.dll
/NoahNPCGen/obj/Release/netcoreapp3.1/PubTmp/Out/*.dll
/NoahNPCGen/obj/Release/netcoreapp3.1/PubTmp/Out/*.exe
/NoahNPCGen/obj/Release/netcoreapp3.1/PubTmp/Out/runtimes/win-x64/native/*.dll
/NoahNPCGen/obj/Release/netcoreapp3.1/PubTmp/Out/runtimes/win-x86/native/*.dll
/NoahNPCGen/obj/Release/netcoreapp3.1/PubTmp/Out/runtimes/win-arm64/native/*.dll
**/*.dll
**/*.exe
*.exe
/NoahNPCGen/bin/
/NoahNPCGen/obj/